Repository QuietCraftsmanship/Vercel, changes with the owners that .github/CODEOWNERS names for each.
All owners: @TooTallNate, @EndangeredMassa, @trek, @onsclom, @jeffsee55, @ijjk, @agadzik, @chloetedder, @timneutkens, @ztanner, @huozhi, @Ethan-Arrowood, @styfle, @vercel/compute, @leerob, @Timer, @Kikobeats

.github/CODEOWNERS:

# Documentation
# https://help.github.com/en/articles/about-code-owners

# Restricted Paths
*                                        @TooTallNate @EndangeredMassa @trek @onsclom @jeffsee55
/.github/workflows                       @TooTallNate @EndangeredMassa @trek @onsclom @jeffsee55 @ijjk
/packages/fs-detectors                   @TooTallNate @EndangeredMassa @trek @onsclom @jeffsee55 @agadzik @chloetedder
/packages/next                           @TooTallNate @EndangeredMassa @trek @onsclom @jeffsee55 @timneutkens @ijjk @ztanner @huozhi @Ethan-Arrowood @styfle
/packages/routing-utils                  @TooTallNate @EndangeredMassa @trek @onsclom @jeffsee55 @ijjk
/packages/static-build                   @TooTallNate @EndangeredMassa @trek @onsclom @jeffsee55
/packages/edge                           @TooTallNate @EndangeredMassa @trek @onsclom @jeffsee55 @vercel/compute
/examples                                @TooTallNate @EndangeredMassa @trek @onsclom @jeffsee55 @leerob
/examples/create-react-app               @TooTallNate @EndangeredMassa @trek @onsclom @jeffsee55 @Timer
/examples/nextjs                         @TooTallNate @EndangeredMassa @trek @onsclom @jeffsee55 @timneutkens @ijjk @ztanner @huozhi @Ethan-Arrowood @styfle
/packages/node                           @TooTallNate @EndangeredMassa @trek @onsclom @jeffsee55 @Kikobeats

# Unrestricted Paths
.changeset/

[examples][tests] Upgrade Next.js to version 14.1.4 (#11304)
  .changeset/next-14-1-4.md
  examples/nextjs/package-lock.json
  examples/nextjs/package.json
Owners: @TooTallNate, @EndangeredMassa, @trek, @onsclom, @jeffsee55, @timneutkens, @ijjk, @ztanner, @huozhi, @Ethan-Arrowood, @styfle

Install `@inquirer/prompts`
  packages/cli/package.json
  pnpm-lock.yaml
Owners: @TooTallNate, @EndangeredMassa, @trek, @onsclom, @jeffsee55

Update input prompt instances
  packages/cli/src/commands/bisect/index.ts
  packages/cli/src/commands/env/add.ts
  packages/cli/src/commands/env/rm.ts
  packages/cli/src/util/client.ts
  packages/cli/src/util/input/input-project.ts
  packages/cli/src/util/input/input-root-directory.ts
  packages/cli/src/util/login/prompt.ts
Owners: @TooTallNate, @EndangeredMassa, @trek, @onsclom, @jeffsee55

Update to latest SolidStart
  examples/solidstart/.gitignore
  examples/solidstart/README.md
  examples/solidstart/app.config.ts
  examples/solidstart/package.json
  examples/solidstart/pnpm-lock.yaml
  examples/solidstart/src/app.css
  examples/solidstart/src/app.tsx
  examples/solidstart/src/components/Counter.tsx
  examples/solidstart/src/entry-client.tsx
  examples/solidstart/src/entry-server.tsx
  examples/solidstart/src/global.d.ts
  examples/solidstart/src/root.tsx
  examples/solidstart/src/routes/[...404].tsx
  examples/solidstart/tsconfig.json
  examples/solidstart/vite.config.js
  examples/solidstart/yarn.lock
  packages/frameworks/src/frameworks.ts
Owners: @TooTallNate, @EndangeredMassa, @trek, @onsclom, @jeffsee55, @leerob

Update checkbox prompt instances
  packages/cli/src/commands/env/add.ts
  packages/cli/src/util/client.ts
  packages/cli/src/util/link/repo.ts
Owners: @TooTallNate, @EndangeredMassa, @trek, @onsclom, @jeffsee55

Update expand prompt instance
  packages/cli/src/commands/bisect/index.ts
  packages/cli/src/util/client.ts
Owners: @TooTallNate, @EndangeredMassa, @trek, @onsclom, @jeffsee55

Replace confirm prompt instance
  packages/cli/src/util/client.ts
  packages/cli/src/util/input/confirm.ts
Owners: @TooTallNate, @EndangeredMassa, @trek, @onsclom, @jeffsee55

Replace list prompt instances
  packages/cli/src/commands/env/rm.ts
  packages/cli/src/util/client.ts
  packages/cli/src/util/input/select-org.ts
  packages/cli/src/util/link/repo.ts
  packages/cli/src/util/projects/link.ts
Owners: @TooTallNate, @EndangeredMassa, @trek, @onsclom, @jeffsee55

update to 1.0.0-rc.0
  examples/solidstart/package.json
  examples/solidstart/pnpm-lock.yaml
Owners: @TooTallNate, @EndangeredMassa, @trek, @onsclom, @jeffsee55, @leerob

[remix] Add `mjs` and `mts` extensions to vite detection (#11307)
  .changeset/slimy-nails-rescue.md
  packages/remix/src/utils.ts
Owners: @TooTallNate, @EndangeredMassa, @trek, @onsclom, @jeffsee55

[examples] Enforce node18 on Python and Ruby examples (#11319)
  examples/hugo/package.json
  examples/jekyll/package.json
  examples/middleman/package.json
  examples/zola/package.json
Owners: @TooTallNate, @EndangeredMassa, @trek, @onsclom, @jeffsee55, @leerob

[tests] add stencil@4 fixtures to dependabot (#11167)
  .changeset/neat-tigers-pay.md
  .github/dependabot.yml
Owners: @TooTallNate, @EndangeredMassa, @trek, @onsclom, @jeffsee55

Expose inquirer prompts from client
  packages/cli/src/util/client.ts
Owners: @TooTallNate, @EndangeredMassa, @trek, @onsclom, @jeffsee55

Remove inquirer dependency
  packages/cli/package.json
  packages/cli/src/util/input/patch-inquirer.ts
  pnpm-lock.yaml
Owners: @TooTallNate, @EndangeredMassa, @trek, @onsclom, @jeffsee55

Update integration tests
  packages/cli/test/helpers/wait-for-prompt.ts
  packages/cli/test/integration-3.test.ts
Owners: @TooTallNate, @EndangeredMassa, @trek, @onsclom, @jeffsee55

Convert `client.prompt` instances to use new API
  packages/cli/src/commands/bisect/index.ts
  packages/cli/src/commands/env/add.ts
  packages/cli/src/commands/env/rm.ts
  packages/cli/src/util/input/confirm.ts
  packages/cli/src/util/input/edit-project-settings.ts
  packages/cli/src/util/input/input-project.ts
  packages/cli/src/util/input/input-root-directory.ts
  packages/cli/src/util/input/list.ts
  packages/cli/src/util/input/select-org.ts
  packages/cli/src/util/link/repo.ts
  packages/cli/src/util/login/prompt.ts
  packages/cli/src/util/projects/link.ts
Owners: @TooTallNate, @EndangeredMassa, @trek, @onsclom, @jeffsee55

Update unit tests
  packages/cli/src/commands/certs/rm.ts
  packages/cli/src/commands/dns/rm.ts
  packages/cli/src/commands/remove/index.ts
  packages/cli/test/integration-3.test.ts
  packages/cli/test/mocks/matchers/to-output.ts
  packages/cli/test/unit/commands/git.test.ts
  packages/cli/test/unit/util/confirm.test.ts
Owners: @TooTallNate, @EndangeredMassa, @trek, @onsclom, @jeffsee55

Remove usage of old inquirer
  packages/cli/src/commands/env/add.ts
  packages/cli/src/commands/env/rm.ts
  packages/cli/src/util/client.ts
  packages/cli/src/util/input/confirm.ts
  packages/cli/src/util/input/list.ts
  packages/cli/src/util/input/select-org.ts
  packages/cli/test/mocks/client.ts
Owners: @TooTallNate, @EndangeredMassa, @trek, @onsclom, @jeffsee55

Add changeset
  .changeset/silent-books-decide.md
Owners: none

Remove problematic test
  packages/cli/test/unit/commands/project.test.ts
Owners: @TooTallNate, @EndangeredMassa, @trek, @onsclom, @jeffsee55
